<div class="container-fluid">
	<div class="page-title">
		<h4>Basic Table</h4>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-block">
					<h4 class="card-title">Basic Table</h4>
					<p>The <code>.table</code> class adds basic styling (light padding and only horizontal dividers) to a table:</p>            
				    <table class="table">
				    	<thead>
				     		<tr>
					        	<th>Firstname</th>
					        	<th>Lastname</th>
					        	<th>Email</th>
				      		</tr>
				    	</thead>
				   		<tbody>
					        <tr>
						        <td>John</td>
						        <td>Doe</td>
						        <td>john@example.com</td>
					        </tr>
					        <tr>
						        <td>Mary</td>
						        <td>Moe</td>
						        <td>mary@example.com</td>
					        </tr>
					        <tr>
						        <td>July</td>
						        <td>Dooley</td>
						        <td>july@example.com</td>
					        </tr>
				        </tbody>
				    </table>
			    </div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-block">
					<h4 class="card-title">Striped Rows</h4>
					<p>The <code>.table-striped</code> class adds zebra-stripes to a table:</p>            
				    <table class="table table-striped">
				    	<thead>
				     		<tr>
					        	<th>Firstname</th>
					        	<th>Lastname</th>
					        	<th>Email</th>
				      		</tr>
				    	</thead>
				   		<tbody>
					        <tr>
						        <td>John</td>
						        <td>Doe</td>
						        <td>john@example.com</td>
					        </tr>
					        <tr>
						        <td>Mary</td>
						        <td>Moe</td>
						        <td>mary@example.com</td>
					        </tr>
					        <tr>
						        <td>July</td>
						        <td>Dooley</td>
						        <td>july@example.com</td>
					        </tr>
				        </tbody>
				    </table>
			    </div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-block">
					<h4 class="card-title">Bordered Table</h4>
					<p>The <code>.table-bordered</code> class adds borders on all sides of the table and cells:</p>            
				    <table class="table table-bordered">
				    	<thead>
				     		<tr>
					        	<th>Firstname</th>
					        	<th>Lastname</th>
					        	<th>Email</th>
				      		</tr>
				    	</thead>
				   		<tbody>
					        <tr>
						        <td>John</td>
						        <td>Doe</td>
						        <td>john@example.com</td>
					        </tr>
					        <tr>
						        <td>Mary</td>
						        <td>Moe</td>
						        <td>mary@example.com</td>
					        </tr>
					        <tr>
						        <td>July</td>
						        <td>Dooley</td>
						        <td>july@example.com</td>
					        </tr>
				        </tbody>
				    </table>
			    </div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-block">
					<h4 class="card-title">Hover Row</h4>
					<p>The <code>.table-hover</code> class adds a hover effect (grey background color) on table rows:</p>            
				    <table class="table table-hover">
				    	<thead>
				     		<tr>
					        	<th>Firstname</th>
					        	<th>Lastname</th>
					        	<th>Email</th>
				      		</tr>
				    	</thead>
				   		<tbody>
					        <tr>
						        <td>John</td>
						        <td>Doe</td>
						        <td>john@example.com</td>
					        </tr>
					        <tr>
						        <td>Mary</td>
						        <td>Moe</td>
						        <td>mary@example.com</td>
					        </tr>
					        <tr>
						        <td>July</td>
						        <td>Dooley</td>
						        <td>july@example.com</td>
					        </tr>
				        </tbody>
				    </table>
			    </div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-block">
					<h4 class="card-title">Small Table</h4>
					<p>Add <code>.table-sm</code> to make the table smaller</p>            
				    <table class="table table-bordered table-hover table-sm">
				    	<thead>
				     		<tr>
					        	<th>Firstname</th>
					        	<th>Lastname</th>
					        	<th>Email</th>
				      		</tr>
				    	</thead>
				   		<tbody>
					        <tr>
						        <td>John</td>
						        <td>Doe</td>
						        <td>john@example.com</td>
					        </tr>
					        <tr>
						        <td>Mary</td>
						        <td>Moe</td>
						        <td>mary@example.com</td>
					        </tr>
					        <tr>
						        <td>July</td>
						        <td>Dooley</td>
						        <td>july@example.com</td>
					        </tr>
				        </tbody>
				    </table>
			    </div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-block">
					<h4 class="card-title">Large Table</h4>
					<p>Add <code>.table-lg</code> to make the table bigger</p>            
				    <table class="table table-hover table-lg">
				    	<thead>
				     		<tr>
					        	<th>Firstname</th>
					        	<th>Lastname</th>
					        	<th>Email</th>
				      		</tr>
				    	</thead>
				   		<tbody>
					        <tr>
						        <td>John</td>
						        <td>Doe</td>
						        <td>john@example.com</td>
					        </tr>
					        <tr>
						        <td>Mary</td>
						        <td>Moe</td>
						        <td>mary@example.com</td>
					        </tr>
					        <tr>
						        <td>July</td>
						        <td>Dooley</td>
						        <td>july@example.com</td>
					        </tr>
				        </tbody>
				    </table>
			    </div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-block">
					<h4 class="card-title">Extreme Large Table</h4>
					<p>Add <code>.table-xs</code> to make the table extreme large</p>            
				    <table class="table table-hover table-xl">
				    	<thead>
				     		<tr>
					        	<th>Firstname</th>
					        	<th>Lastname</th>
					        	<th>Email</th>
				      		</tr>
				    	</thead>
				   		<tbody>
					        <tr>
						        <td>John</td>
						        <td>Doe</td>
						        <td>john@example.com</td>
					        </tr>
					        <tr>
						        <td>Mary</td>
						        <td>Moe</td>
						        <td>mary@example.com</td>
					        </tr>
					        <tr>
						        <td>July</td>
						        <td>Dooley</td>
						        <td>july@example.com</td>
					        </tr>
				        </tbody>
				    </table>
			    </div>
			</div>
		</div>
	</div>
</div>