<div class="container-fluid">
	<div class="page-title">
		<h4>Cards</h4>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="card">
				<div class="card-block">
					<h4 class="card-title">Basic Card</h4>
					<div class="mrg-top-20">
						<p>All right! Up! Move! Come on! Quickly! Quickly, Chewie. Han! Hurry! The fleet will be here any moment. Charges! Come on, come on! Oh, my! They'll be captured! Wa-wait! Wait, come back! Artoo, stay with me. Freeze! You Rebel scum.</p>
						<p>Not bad for a little furball. There's only one left. You stay here. We'll take care of this. I have decided that we shall stay here.Well, look at you, a general, huh? Oh, well, someone must have told them about my little maneuver at the battle of Taanab.</p>	
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<div class="card-block">
					<h4 class="card-title">Basic Card with Action</h4>
					<div class="mrg-top-20">
						<p>All right! Up! Move! Come on! Quickly! Quickly, Chewie. Han! Hurry! The fleet will be here any moment. Charges! Come on, come on! Oh, my! They'll be captured! Wa-wait! Wait, come back! Artoo, stay with me. Freeze! You Rebel scum.</p>
						<p>Not bad for a little furball. There's only one left. You stay here. We'll take care of this. I have decided that we shall stay.</p>
						<div class="mrg-top-25">
							<a href="" class="btn btn-primary no-mrg-btm">Action 1</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<div class="card-heading">
					<h4 class="card-title">Default Card</h4>
				</div>
				<div class="card-body">
					<p>All right! Up! Move! Come on! Quickly! Quickly, Chewie. Han! Hurry! The fleet will be here any moment. Charges! Come on, come on! Oh, my! They'll be captured! Wa-wait! Wait, come back! Artoo, stay with me. Freeze! You Rebel scum.</p>
					<p>Not bad for a little furball. There's only one left. You stay here. We'll take care of this. I have decided that we shall stay here.</p>
				</div>
				<div class="card-footer border top">
					<ul class="list-unstyled list-inline text-right pdd-vertical-5">
						<li class="list-inline-item">
							<a href="" class="btn btn-flat">Action 1</a>
						</li>
						<li class="list-inline-item">
							<a href="" class="btn btn-flat">Action 2</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3">
			<div class="card">
				<div class="card-media">
					<img class="img-responsive" src="assets/images/others/img-3.jpg" alt="">
				</div>
				<div class="card-block">
					<h4 class="mrg-btm-20 no-mrg-top">Card With Image</h4>
					<p>All right! Up! Move! Come on! Quickly! Quickly, Chewie. Han! Hurry! The fleet will be here any moment. Charges! Come on, come on! Oh, my! They'll be captured! Wa-wait! Wait, come back! Artoo, stay with me. Freeze! You Rebel scum.</p>
					<div class="mrg-top-40">
						<a href="" class="btn btn-info no-mrg-btm">Read More</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<a href="" class="card">
				<ul class="list-unstyled list-info">
					<li>
						<div class="pdd-vertical-10 pdd-horizon-20">	
							<img class="thumb-img img-circle" src="assets/images/avatars/thumb-1.jpg" alt="">
							<div class="info">
								<span class="title">Jordan Hurst</span>
								<span class="sub-title">
									<i class="ti-timer pdd-right-5"></i>
									<span>2 min ago</span>
								</span>
							</div>
						</div>
					</li>
				</ul>
				<div class="card-media">
					<img class="img-responsive" src="assets/images/others/img-4.jpg" alt="">
				</div>
				<div class="card-block">
					<h4>Card With Image</h4>
					<p>Hey, whoa, just where do you think you're going? Master Luke here is your rightful owner. We'll have no more of this Obi-Wan Kenobi. I have decided that we shall stay here.</p>
				</div>
			</a>
		</div>
		<div class="col-lg-3">
			<div class="card bg-info">
				<div class="card-block">
					<div class="row">
						<div class="col-md-7">
							<p class="text-uppercase font-size-13"><b>Sales Trends</b></p>
							<h1 class="no-mrg-top font-size-30">37.8%</h1>
							<span>Total Item Sold: <b>168</b></span>
						</div>
						<div class="col-md-5">
						</div>
					</div>
				</div>
			</div>
			<a href="">
				<div class="card ">
					<div class="overlay-dark bg" style="background-image: url('assets/images/others/img-6.jpg')">
						<div class="card-block">
							<div class="mrg-top-130">
								<div class="tag tag-danger">Lifestyle</div>
								<h2>Good Saving <br> Habit From Young</h2>
								<div class="text-white text-opacity">
									<span>
										<i class="ti-comment pdd-right-5"></i>
										<span> 88</span>
									</span>
									<span class="pdd-horizon-10">
										|
									</span>
									<span>
										<i class="ti-heart pdd-right-5"></i>
										<span> 168</span>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="col-lg-3">
			<a href="">
				<div class="card">
					<div class="overlay-dark bg-primary">
						<div class="card-block">
							<div class="mrg-top-130">
								<div class="tag tag-warning">Blog</div>
								<h2>Good Saving <br> Habit From Young</h2>
								<div class="text-white text-opacity">
									<span>
										<i class="ti-comment pdd-right-5"></i>
										<span> 88</span>
									</span>
									<span class="pdd-horizon-10">
										|
									</span>
									<span>
										<i class="ti-heart pdd-right-5"></i>
										<span> 168</span>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</a>
			<div class="card">
				<div class="card-block">
					<div class="row">
						<div class="col-md-7">
							<p class="text-dark text-uppercase font-size-13"><b>Earning</b></p>
							<h1 class="no-mrg-top text-primary font-size-30">$ 18,000</h1>
							<span>Total Item Sold: <b>168</b></span>
						</div>
						<div class="col-md-5">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div class="card">
				<div class="card-horizon">
					<div class="image-container col-md-4">
						<div class="background-holder has-content" style="background-image: url('assets/images/others/img-5.jpg')"></div>
					</div>
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-7 ml-auto">
								<div class="pdd-vertical-30 pdd-horizon-25">
									<h2 class="mrg-btm-20">Card Horizon</h2>
									<p>Oh, I told you it was dangerous here. Shall we try and go around? It'll take time. This whole party'll be for nothing if they see us. Chewie and I will take care of this. You stay here. Quietly, there might be more of them out there. Hey... it's me. Go for help! Go! Great. Come on. Over there! Two more of them! I see them. Wait, Leia! Quick! Jam their comlink. Center switch! Hey, wait! Ahhh! Move closer! Get alongside that one! Get him! Keep on that one! I'll take these two!</p>
									<p>Easy, Chewie. Whoa! Whoa! Help! Chewie, you okay? Where is he? I'm okay, pal. Han! Chewie? Lando! Boba Fett?! Boba Fett?! Where? Lando, grab it! Lower it! I'm trying! Whoa! Whoa! Grab me, Chewie! I'm slipping. Grab it! L--Lando. Grab! Grab it! Almost... You almost got it! Hold it! Whoa! Gently now. All... all right.</p>
									<p>Admiral, we're in position. All fighters accounted for. Proceed with the countdown. All groups assume attack coordinates. Don't worry, my friends are down there. They'll have that shield down on time... or this'll be the shortest offensive of all time. All craft, prepare to jump to hyperspace on my mark. All right. Stand by.</p>
								</div>
							</div>
						</div>
					</div>     
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<div class="card-media">
					<img class="img-responsive" src="assets/images/others/img-7.jpg" alt="">
				</div>
				<div class="card-block">
					 <div class="relative" style="height: 210px;" ui-jq="perfectScrollbar">
						<h4 class="mrg-btm-20 no-mrg-top">Card Scrollable</h4>
						<p>All right! Up! Move! Come on! Quickly! Quickly, Chewie. Han! Hurry! The fleet will be here any moment. Charges! Come on, come on! Oh, my! They'll be captured! Wa-wait! Wait, come back! Artoo, stay with me. Freeze! You Rebel scum.</p>
						<p>Move! Move! The shield is down! Commence attack on theDeath Star's main reactor. We're on our way. Red Group, Gold Group, all fighters follow me. Told you they'd do it!</p>
						<p>Admiral, we're in position. All fighters accounted for. Proceed with the countdown. All groups assume attack coordinates. Don't worry, my friends are down there. They'll have that shield down on time... or this'll be the shortest offensive of all time. All craft, prepare to jump to hyperspace on my mark. All right. Stand by.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="card">
				<div class="portlet">
					<ul class="portlet-item">
						<li class="dropdown">
							<a href="" class="btn btn-icon btn-flat btn-rounded dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
								<i class="ti-more"></i>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a href="">
										<i class="ti-files pdd-right-10"></i>
										<span>Duplicate</span>
									</a>
								</li>
								<li>
									<a href="">
										<i class="ti-smallcap pdd-right-10"></i>
										<span>Edit</span>
									</a>
								</li>
								<li>
									<a href="">
										<i class="ti-image pdd-right-10"></i>
										<span>Add Images</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="" class="btn btn-icon btn-flat btn-rounded" card-portlet-refresh>
								<i class="ti-reload"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="card-heading">
					<h4 class="card-title">Card Refresh</h4>
				</div>
				<div class="card-body">
					<p>All right! Up! Move! Come on! Quickly! Quickly, Chewie. Han! Hurry! The fleet will be here any moment. Charges! Come on, come on! Oh, my! They'll be captured! Wa-wait! Wait, come back! Artoo, stay with me. Freeze! You Rebel scum.</p>
					<p>Not bad for a little furball. There's only one left. You stay here. We'll take care of this. I have decided that we shall stay here.</p>
				</div>
				<div class="card-footer border top">
					<ul class="list-unstyled list-inline pull-right">
						<li class="list-inline-item">
							<a href="" class="btn btn-icon btn-flat btn-rounded">
								<i class="ti-heart"></i>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="" class="btn btn-icon btn-flat btn-rounded">
								<i class="ti-share"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card">
				<div class="portlet">
					<ul class="portlet-item">
						<li class="dropdown">
							<a href="" class="btn btn-icon btn-flat btn-rounded dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
								<i class="ti-more"></i>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a href="">
										<i class="ti-files pdd-right-10"></i>
										<span>Duplicate</span>
									</a>
								</li>
								<li>
									<a href="">
										<i class="ti-smallcap pdd-right-10"></i>
										<span>Edit</span>
									</a>
								</li>
								<li>
									<a href="">
										<i class="ti-image pdd-right-10"></i>
										<span>Add Images</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="" class="btn btn-icon btn-flat btn-rounded" card-portlet-delete>
								<i class="ti-close"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="card-heading">
					<h4 class="card-title">Card Delete</h4>
				</div>
				<div class="card-body">
					<p>All right! Up! Move! Come on! Quickly! Quickly, Chewie. Han! Hurry! The fleet will be here any moment. Charges! Come on, come on! Oh, my! They'll be captured! Wa-wait! Wait, come back! Artoo, stay with me. Freeze! You Rebel scum.</p>
					<p>Not bad for a little furball. There's only one left. You stay here. We'll take care of this. I have decided that we shall stay here.</p>
				</div>
				<div class="card-footer border top">
					<ul class="list-unstyled list-inline pull-right">
						<li class="list-inline-item">
							<a href="" class="btn btn-icon btn-flat btn-rounded">
								<i class="ti-heart"></i>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="" class="btn btn-icon btn-flat btn-rounded">
								<i class="ti-share"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card">
				<div class="portlet">
					<ul class="portlet-item">
						<li class="dropdown">
							<a href="" class="btn btn-icon btn-flat btn-rounded dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
								<i class="ti-more"></i>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a href="">
										<i class="ti-files pdd-right-10"></i>
										<span>Duplicate</span>
									</a>
								</li>
								<li>
									<a href="">
										<i class="ti-smallcap pdd-right-10"></i>
										<span>Edit</span>
									</a>
								</li>
								<li>
									<a href="">
										<i class="ti-image pdd-right-10"></i>
										<span>Add Images</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="" class="btn btn-icon btn-flat btn-rounded" card-portlet-refresh>
								<i class="ti-reload"></i>
							</a>
						</li>
						<li>
							<a href="" class="btn btn-icon btn-flat btn-rounded" card-portlet-delete>
								<i class="ti-close"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="card-block">
					<h4 class="card-title">Advanced Portlet</h4>
					<p>Look! Get him off of there! I think I got it. I got it! Oh, Princess Leia, are you all right? Let's see. It's not bad. Freeze! Oh, dear. Don't move! I love you. I know. Hands up! Stand up! Stay back. Chewie! Get down here! She's wounded! No, wait.... I got an idea.</p>
					<p>If they don't go for this, we're gonna have to get outta here pretty quick, Chewie. We have you on our screen now. Please identify. Shuttle Tydirium requesting deactivation of the deflector shield. Shuttle Tydirium, transmit the clearance code for shield passage. Transmission commencing. Now we find out if that code is worth the price we paid. It'll work. It'll work. Vader's on that ship. Now don't get jittery, Luke. There are a lot of command ships. Keep your distance though.</p>
					<div class="mrg-top-20 text-right">
						<a href="" class="btn btn-warning no-mrg-btm">Action 1</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>