.nav-tabs {
	border-bottom: 1px solid $border-color;
	
	>li {
		margin-bottom: -2px;
		
		>a {
			margin-right: 0px;
			line-height: 2;
			border-radius: 0;
			color: $default-dark;
			opacity: 0.75;
			border: 0px;
			border-bottom: 2px solid transparent;
			display: block;
    		padding: 10px 15px;
    		@include transition(all 0.3s ease-in-out); 
			
			&:hover {
				border-color: transparent;
			}
			
			&:hover,
			&:focus {
				background-color: transparent;
				opacity: 1;
			}
		}
		
		&.active {
		
			>a {
				border: 0px;
				background-color: transparent;
				border-bottom: 2px solid $default-primary;
				opacity: 1;
				
				&:hover,
				&:focus {
					border: 0px;
					background-color: transparent;
					border-bottom: 2px solid $default-primary;
					opacity: 1;
				}
			}
		}
	}	

	.nav-link {
		border-top: 0px;
		border-right: 0px;
		border-left: 0px;

		&:hover,
		&:focus,
		&:active {
			border-color: transparent;
		}
	}
}

.tab-success {

	.nav-tabs {
		
		>li {
			&.active {
				>a {
					border-bottom: 2px solid $default-success;
					
					&:hover,
					&:focus {
						border-bottom: 2px solid $default-success;
					}
				}
			}
		}
	}
}

.tab-info {

	.nav-tabs {
		
		>li {
			&.active {
				>a {
					border-bottom: 2px solid $default-info;
					
					&:hover,
					&:focus {
						border-bottom: 2px solid $default-info;
					}
				}
			}
		}
	}
}

.tab-warning {

	.nav-tabs {
		
		>li {
			&.active {
				>a {
					border-bottom: 2px solid $default-warning;
					
					&:hover,
					&:focus {
						border-bottom: 2px solid $default-warning;
					}
				}
			}
		}
	}
}

.tab-danger {

	.nav-tabs {
		
		>li {
			&.active {
				>a {
					border-bottom: 2px solid $default-danger;
					
					&:hover,
					&:focus {
						border-bottom: 2px solid $default-danger;
					}
				}
			}
		}
	}
}

.center-tabs {

	.nav-tabs {
		text-align: center;
		-webkit-box-pack: center!important;
	    -webkit-justify-content: center!important;
	    -ms-flex-pack: center!important;
	    justify-content: center!important;
		
		>li {
			float: none;
			display: inline-block;
		}
	}
}

.justified-tabs {

	.nav-tabs {
		width: 100%;
		
		>li {
			display: table-cell;
			width: 1%;
			text-align: center;
			float: none;
		}
	}
}

.nav-pills {
	
	>li {
		
		+li {
			margin-left: 5px;
		}
		
		>a {
			border-radius: 3px;
			opacity: 0.75;
			font-size: 14px;
			font-weight: 500;
			background-color: transparent;
			color: $default-dark;
			border: 1px solid transparent;
			padding: 5px 15px;
			
			&:hover,
			&:focus {
				background-color: transparent;
				opacity: 1;
			}
		}
		
		&.active {
		
			>a {
				color: $default-white;
				border-color: $default-primary;
				background-color: $default-primary;
				border: 1px solid $default-primary;
				opacity: 1;
				
				&:hover,
				&:focus {
					color: $default-white;
					border-color: $default-primary;
					background-color: $default-primary;
					border: 1px solid $default-primary;
					opacity: 1;
				}
			}
		}
	}
}

.nav-vertical {
	.nav-pills {
		&.nav-stacked {
			float: left;
			width: 160px;
			padding: 0px 15px;
			display: block;
		}
		
		>li {
			margin-bottom: 15px;

			+ li {
				margin-left: 0px;
			}
		}
	}
	
	.tab-content {
		float: left;
		width: 70%;
	}
}

.pill-success {
	.nav-pills {
	
		>li {
		
			&.active {
		
				>a {
					border-color: $default-success;
					background-color: $default-success;
					border: 1px solid $default-success;
					
					&:hover,
					&:focus {
						border-color: $default-success;
						background-color: $default-success;
						border: 1px solid $default-success;
					}
				}
			}
		}
	}	
}

.pill-info {
	.nav-pills {
	
		>li {
		
			&.active {
		
				>a {
					border-color: $default-info;
					background-color: $default-info;
					border: 1px solid $default-info;
					
					&:hover,
					&:focus {
						border-color: $default-info;
						background-color: $default-info;
						border: 1px solid $default-info;
					}
				}
			}
		}
	}	
}

.pill-warning {
	.nav-pills {
	
		>li {
		
			&.active {
		
				>a {
					border-color: $default-warning;
					background-color: $default-warning;
					border: 1px solid $default-warning;
					
					&:hover,
					&:focus {
						border-color: $default-warning;
						background-color: $default-warning;
						border: 1px solid $default-warning;
					}
				}
			}
		}
	}	
}

.pill-danger {
	.nav-pills {
	
		>li {
		
			&.active {
		
				>a {
					border-color: $default-danger;
					background-color: $default-danger;
					border: 1px solid $default-danger;
					
					&:hover,
					&:focus {
						border-color: $default-danger;
						background-color: $default-danger;
						border: 1px solid $default-danger;
					}
				}
			}
		}
	}	
}


//angular tab transition
.tab-animation > .tab-content {
    position: relative;
}

.tab-animation > .tab-content > .tab-pane{
    transition: 0.1s linear opacity;
}

.tab-animation > .tab-content > .tab-pane.active-remove {
    position: absolute;
    top: 0;
    width: 100%;
    display: block;
}

.tab-animation > .tab-content > .tab-pane.active-remove-active {
    opacity: 0;
}

.tab-animation > .tab-content > .tab-pane.active-add {
    opacity: 0;
}
